alias ll='ls -l'
alias lla='ls -la'
alias fuck='sudo $(history -p \!\!)'

alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gba='git branch -a '
alias gd='git diff '
alias gds='git diff --staged '
alias gco='git checkout '
alias gf='git fetch '
alias gfa='git fetch --all '
alias gp='git push '
alias gpu='git pushup '

alias doco='docker-compose '
alias dpsa='docker ps -a'
alias k='kubectl'

alias venv='source *.venv/bin/activate'
alias nb='jupyter notebook'
