.chezmoiignore linguist-language=Ignore-List
dot_aliases linguist-language=Shell
dot_bash_profile linguist-language=Shell
dot_bashrc linguist-language=Shell
dot_exports linguist-language=Shell
dot_functions linguist-language=Shell
dot_inputrc linguist-language=Readline-Config
dot_path linguist-language=Shell
dot_pgclirc linguist-language=Shell
private_dot_pypirc linguist-language=Shell
