if command -v lsd >/dev/null 2>&1
then
  alias ls='lsd'
fi

alias ll='ls -l'
alias lla='ls -la'
alias fuck='sudo $(history -p \!\!)'

alias g1='git log -1'
alias ga='git add '
alias gap='git add -p '
alias gb='git branch '
alias gba='git branch -a '
alias gco='git checkout '
alias gd='git diff '
alias gds='git diff --staged '
alias gf='git fetch '
alias gfa='git fetch --all '
alias gl='git log '
alias gp='git push '
alias gpo='git poulpe '
alias gpu='git pushup '
alias gs='git status '
alias gw='git switch '

alias cm='chezmoi '

alias dc='docker compose '
alias dpsa='docker ps -a '
alias k='kubectl '

alias venv='source *.venv/bin/activate '
alias nb='jupyter notebook '

{{- if eq .chezmoi.os "darwin" }}
alias got='say -v Samantha "Shame! Shame! Shame! You meant to run git "'
{{- end }}
