[user]
	name = Samuel Dion-Girardeau
	email = samuel.diongirardeau@gmail.com
	signingkey = 5EE73F061FE9F625
[github]
	user = samueldg
[gpg]
	{{ if eq .chezmoi.os "darwin" }}
	program = /opt/homebrew/bin/gpg
	{{ else  }}
	program = gpg
	{{ end }}
[core]
	editor = cursor -w
	excludesfile = ~/.config/git/ignore
	pager = delta
	quotepath = off
[alias]
	alias-master-as-main = "!git symbolic-ref refs/heads/main refs/heads/master && git symbolic-ref refs/remotes/origin/main refs/remotes/origin/master"
	aliases = config --get-regexp alias
	amend = commit --amend
	current-branch = git rev-parse --abbrev-ref HEAD
	default-branch = "!git ls-remote --exit-code --heads origin main >/dev/null && echo main || echo master"
	done = "!_CURRENT_BRANCH=$(git current-branch) _DEFAULT_BRANCH=$(git default-branch) && git switch $_DEFAULT_BRANCH && git poulpe && git branch -d $_CURRENT_BRANCH"
	fixup = commit --amend --no-edit
	git = !exec git
	lease = push --force-with-lease
	master2main = "!git branch -m master main && git fetch origin && git branch -u origin/main main && git remote set-head origin -a"
	poulpe = pull --all --tags --prune
	pushup = "!_CURRENT_BRANCH=$(git current-branch) && git push -u origin $_CURRENT_BRANCH"
	rename = "!_CURRENT_BRANCH=$(git current-branch) && echo $_CURRENT_BRANCH > /tmp/git-rename-branch && ${EDITOR:-vi} /tmp/git-rename-branch && _NEW_BRANCH=$(cat /tmp/git-rename-branch) && rm /tmp/git-rename-branch && [ \"$_CURRENT_BRANCH\" != \"$_NEW_BRANCH\" ] && git branch -m $_CURRENT_BRANCH $_NEW_BRANCH || echo 'Branch name unchanged'"
	summary = log --format=tformat:'* %s (%h)%+n%w(0,4,4)%-b%n'
[advice]
	addEmptyPathspec = false
[help]
	autoCorrect = prompt
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autosquash = true
	autoStash = true
[pull]
	rebase = true
[push]
	autosetupremote = true
	default = simple
[blame]
	# ignoreRevsFile = .git-blame-ignore-revs
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[diff]
	algorithm = histogram
	colorMoved = default
[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
	syntax-theme = Monokai Extended
[delta "decorations"]
	plus-style = "syntax #012800"
	minus-style = "normal #340001"
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[url "git@github.com:"]
	insteadOf = "https://github.com/"
